
/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
*-_--_-_-_-_-_-_-_-animation-_-_-_-_-_-_-_-_-_-_-_
*-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/

@mixin animation ($delay, $duration, $function, $infinite, $animation) {
  -webkit-animation-delay: $delay; /*задает задержку анимации*/
  -webkit-animation-duration: $duration; /*задает время проигрывания анимации*/
  -webkit-animation-timing-function: $function; /*описывает метод расчета промежуточных значений свойств для анимаци*/
  -webkit-animation-iteration-count: $infinite;
  -webkit-animation-name: $animation; /*задает имя анимации*/
  -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-timing-function: $function;
  -moz-animation-iteration-count: $infinite;
  -moz-animation-name: $animation;
  -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  -o-animation-delay: $delay;
  -o-animation-duration: $duration;
  -o-animation-timing-function: $function;
  -o-animation-iteration-count: $infinite;
  -o-animation-name: $animation;
  -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  animation-delay: $delay;
  animation-duration: $duration;
  animation-timing-function: $function;
  animation-iteration-count: $infinite;
  animation-name: $animation;
  animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(bottomOpacity) {
  0% {
    @include opacity(1);
  }
  50% {
    @include opacity(0.5);
  }
  100% {
    @include opacity(1);
  }
}