
$img-dir: '../images';
$font-dir: '../fonts';
$min-width: 1000px;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #8a8a8a;
$default-color: #1c1c1c;
$default-font: "FontAwesome" helvetica, Arial, sans-serif;

@font-face {
  font-family: 'FontAwesome';
  src: url('#{$font-dir}/fontawesome-webfont.eot?v=4.4.0');
  src: url('#{$font-dir}/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'),
  url('#{$font-dir}/fontawesome-webfont.woff2?v=4.4.0') format('woff2'),
  url('#{$font-dir}/fontawesome-webfont.woff?v=4.4.0') format('woff'),
  url('#{$font-dir}/fontawesome-webfont.ttf?v=4.4.0') format('truetype'),
  url('#{$font-dir}/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal
}
